/* .form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
} */
.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titleContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.title {
  font-weight: 200;
  font-family: Helvetica Neue, san-serif;
}
.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  /* padding: 10px; */
}

.button {
  width: 320px;
  padding: 3px;
  border-radius: 1em;
  border-color: green;
}

.button:hover,
.button:focus {
  background: rgb(46, 138, 34);
  /* background: aqua; */
  /* border: none; */
  /* border-color: rgb(82, 255, 59); */
}
